
.allprofilecolumns {
  display: inline-flex;
  padding-top: 5%;
  margin-top: 2%;
  justify-content: space-between;
}

.allicons {
  padding-left: 2%;
  z-index: 10;
}

#allfollows {
  margin: 0;
  padding: 0;
  position: absolute;
  padding-right: 18%;
}

.card {
  height: fit-content;
  width: fit-content;
}

.grid {
  width: 350px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 5vw);
  grid-template-rows: repeat(2, 5vw);
}

#allprofilefollowers {
  background-color: transparent;
  border: none;
  margin-top: 6%;
  margin-right: 15%;
}

#allprofpost {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-left: 15%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 100% !important;
}

.allactivity {
  font-family: 'Amatic SC', cursive;
  color: rgb(244,140,180);
  font-size: 50px;
  font-weight: 900;
}

.posted {
  margin-top: .75rem;
}

.allusersinplat {
  display: contents !important;
}

.linkallprofiles {
  color: white;
    font-size: 15px;
    line-height: 1.5;
}
