.account{
  background-color: darkslategray;
  place-content: center;
  width: calc(100%);
  color: rgb(244,140,180);
  margin-top: 10%;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: rgb(244,140,180) !important;
  font-size: 70px !important;
  text-align: center;
  justify-content: center;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 25% !important;
  margin-left: 25% !important;
  margin-top: 100px;
}

.col-md-12 {
  margin-bottom: 30px;
}

.mainimage{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.backgroundimage{
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10%;
}
.updateimage {
  max-width: 500px;
  display: inline-flex;
  margin-left: -100px;
}

#editusername h4 {
  display: inline;
  vertical-align: top;
}
#editusername p {
  display: inline;
  vertical-align: top;
  margin-left: 226px;
}

#editemail h4 {
  display: inline;
  vertical-align: top;
}
#editemail p {
  display: inline;
  vertical-align: top;
  margin-left: 6%;
}

#editpassword p {
  display: inline;
  vertical-align: top;
  margin-left: 280px;
}

.editdetails {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: rgb(244,140,180);
  font-weight: 900;
  max-width: 500px;
  
}

#editprofile {
  margin-left: 10%;
  margin-bottom: -10%;
}

.updatepass {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: rgb(244,140,180);
  font-weight: 900;
  max-width: 500px;
  
}

#myaccount {
  color: white;
}

#edit {
  color: rgba(167, 164, 164, 0.842);
  
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin-bottom: 10%;
  color: red;
  border-color: red;
  width: 30%;
  font-size: 22px;
}
