
.feed-container {
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 0.7em;
    border-radius: 8px;
    height: auto;
    min-height: 40vh;
    width: 40%;
    font-weight: 600;
    opacity: .85;
    display: inline-flex;
  }

  #textarea {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    text-align: center;
  }

  .thoughts{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 16px 16px 16px;
    max-width: 468px;
  }

  .pic {
    margin-right: 85%;
    width: 19% !important;
    height: 5vw !important;
    max-height: 10%;
  }

  .userdetails {
    margin-top: -80px;
    text-align: right;
    color: black;
  }

  #textarea {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    outline: none !important;
    width: 100%;
    padding: 8px;
    outline: none;
    resize: none;
  }

  .suggestions {
    position: absolute;
    padding-left: 1100px;
    top: 300px;
  }

  .userpost {
    color: rgb(83, 82, 82);
    font-size: 15px;
    text-align: left;
    line-height: 30px;
    padding-left: 90px;
    
  }