.background-form {
  background: linear-gradient(-70deg, rgb(223, 116, 250) , rgb(119, 153, 248) 30%, rgb(240, 68, 211) );
  width: 98%;
  display: inline-flex;
  justify-content: center;
}

.feed-container {
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  padding-left: 10px;
  padding-bottom: 0.7em;
  border-radius: 8px;
  height: auto;
  min-height: 40vh;
  width: 40%;
  font-weight: 600;
  opacity: .85;
  display: inline-flex;
}

#textarea {
  text-align: left;
  border: 0px !important;
  font-size: 20px;
  height: 40px;
  padding: 8px;
  resize: none;
  border-bottom: 1px solid rgba(75, 74, 74, 0.959) !important;
  background-color: rgba(119, 154, 248, 0);
  border-radius: 0% !important;
  font-weight: bold;
}

.post {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 20px !important;
  background-color: rgb(240, 68, 211) !important;
  margin-top: 0px;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 100px;
}

.container-fluid {
  margin-top: -120px;
}

.thoughts{
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 16px 16px 16px;
  max-width: 468px;
}

.pic {
  margin-right: 85%;
  width: 19% !important;
  height: 5vw !important;
  border-radius: 50% !important;
}

.userdetails {
  margin-top: -80px;
  text-align: right;
  color: black;
}

.userpost {
  color: rgb(83, 82, 82);
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  padding-left: 90px;
}