.users {
  padding-left: auto;
}

.picfollowers {
  width: 5vw !important;
  height: 5vw;
}

.card-title {
  margin-bottom: .75rem;
  color: black;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: white;
  font-family: 'Amatic SC', cursive;
  background-color: transparent !important;
}