
.page {
  background: transparent;
  display: flex;
  flex-direction: column;
  height: calc(100% - 0px);
  position: absolute;
  place-content: center;
  width: calc(100%);
  background-image: url("../images/backcolor.jpg");
}

.container {
  display: flex;
  height: 500px;
  background: transparent;
  max-width: 380px !important;
  display: inline !important;
  border-radius: 4%;
}

.login {
  font-family: 'Amatic SC', cursive;
  color: rgb(240, 68, 211);
  font-size: 60px;
  height: 80px;
  text-align: center;
  justify-content: center;
}


.group{
  margin-top: -30px;
  padding-top: 80px;
}

.form-control {
  width: 70% !important;
  display: inline-block !important;
  border: 0px !important;
  border-radius: 0% !important;
  background-color: transparent !important;
  border-bottom: 1px solid rgba(167, 164, 164, 0.842) !important;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.submit {
  color: rgb(247, 28, 210) !important;
  font-family: 'Amatic SC', cursive;
  font-size: 22px !important;
  background-color: transparent !important;
  border-color: rgb(240, 68, 211) !important;
  margin-top: 60px;
  position: relative;
  height: 40px;
  width: 100px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: white;
  font-family: 'Amatic SC', cursive;
  background-color: transparent !important;
}

.link-div{
  padding-top: 80px;
  padding-right: 3%;
}

.link{
  color:white;
  font-size: 15px;
  line-height: 1.5;
  }
  