
.page {
  background: linear-gradient(-70deg, rgb(223, 116, 250) , rgb(119, 153, 248) 30%, rgb(240, 68, 211) );
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100%);
}

.container {
  display: flex;
  height: 500px;
  margin-top: -240px;
  margin: 50px;
  background: white;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  max-width: 380px !important;
  display: inline !important;
  border-radius: 4%;
}

.login {
  font-family: 'Amatic SC', cursive;
  color: rgb(223, 116, 250);
  font-size: 60px;
  height: 80px;
  text-align: center;
  justify-content: center;
}


.group{
  margin-top: -30px;
  padding-top: 80px;
}

.form-control {
  width: 70% !important;
  display: inline-block !important;
  border: 0px !important;
  border-radius: 0% !important;
  border-bottom: 1px solid rgba(167, 164, 164, 0.842) !important;
}

.submit {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 20px !important;
  background-color: rgb(240, 68, 211) !important;
  margin-top: 60px;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 100px;
}

.link-div{
  padding-top: 80px;
  padding-right: 28px;
}

.link{
  color:#999;
  font-size: 14px;
  line-height: 1.5;
  }
  