@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
#logo {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
}

.bg-white {
  background-color: transparent !important;
}

.navbar-light .navbar-toggler {
  border-color: black !important;
}  

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
  width: 10%;
}