.othersprofilefollowing {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#othersfollowingtitle {
  color: rgb(244,140,180);
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
}

.listfollowingallprofiles {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(2, 8vw);
  background-color: rgb(63, 83, 83);
}

#usersotherprofilesfollowing {
  padding-left: auto;
  background: transparent;
  border: none;
  width: 100%;
}

#cardbodyothersfollowing {
  background: transparent;
}

#picothersfollowing {
  width: 5vw !important;
  height: 5vw;
  border-radius: 50%;
}

#cardtitleothersfollowing {
  text-align: center;
  margin: 0;
}

#buttonotherfollowing {
  margin-top: 5%;
}