html, body { 
  height:100%; 
  margin:0;
  padding:0;
}

.user {
  display:flex;
  flex-direction: column;
  min-height:100%;
  position: relative;
}

.link {
  width: 100px;
  height: 25px;
}

.row {
  width: 350px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 5vw);
  grid-template-rows: repeat(4, 5vw);
  
}

.followerpic {
  width: 100%;
  height: 5vw;
  max-height: 100%;
  object-fit: cover;
}


.activity {
  color: rgb(247, 71, 100);
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
  margin-top: -90px;
}
.details {
  width: 160px;
  height: 100%;
  flex-grow:1;
  display:flex;
  margin: 2%;
}

.following {
  margin-top: 60px;
  margin-left: -80px;
}

.file {
  margin: auto;
  position: relative;
  top: 0;
  left:0
  
}

.profilepic {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  left: 620px;
  border: 8px solid rgb(52, 51, 60);
  
}

.posted {
  margin-top: -70px;
  margin-right: 100px;
}

.backgroundpic {
  height: 450px;
  width: 1500px;
  border-radius: 3%;
  position: relative;
  top: 0;
  left: 0;
  
}
