@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

h2 {
  font-family: 'Amatic SC', cursive;
  color: rgb(247, 71, 100);
  float: left;
}

html, body { 
  height:100%; 
  margin:0;
  padding:0;
}

.user {
  display:flex;
  flex-direction: column;
  min-height:100%;
  position: relative;
  width: calc(100% - 40px);
}

.file {
  margin: auto;
  position: relative;
  top: 0;
  left:0
}

.backgroundpic {
  height: 450px;
  width: 1500px;
  border-radius: 3%;
  position: relative;
  top: 0;
  left: 0;
}

.profilepic {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: absolute;
  bottom: 130px;
  left: 620px;
  border: 8px solid rgb(52, 51, 60);
}

#underline {
  border-bottom: 3px solid rgb(158, 155, 155);
}

.profilethinking {
  width: 800px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-top: 200px;
}

.row {
  margin-left: 15px !important;
  margin-right: 1% !important;
}

.card {
  height: fit-content;
  width: fit-content;
}

.grid {
  width: 350px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 5vw);
  grid-template-rows: repeat(2, 5vw);
  
}

.activity {
  font-family: 'Amatic SC', cursive;
  color: rgb(247, 71, 100);
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}

ul {
  margin-left: 10px;
}

.posted {
  margin-top: -80px;
  text-align: right;
}

.usersinplat {
  display: inline-block;
}

