.look {
  display: inline-flex;
  padding-top: 35%;
}

.post {
  color: rgb(244,140,180) !important;
  font-family: 'Amatic SC', cursive;
  font-size: 20px !important;
  background-color: transparent !important;
  border-color: rgb(244,140,180) !important;
  position: relative;
  height: 40px;
  width: 100px;
  margin-left: 4%;
}

#searchinput {
  text-align: left;
  border: 0px !important;
  font-size: 18px;
  height: 40px;
  width: 200px !important;
  padding: 8px;
  resize: none;
  border-bottom: 1px solid rgba(167, 164, 164, 0.842) !important;
  background-color: rgba(119, 154, 248, 0) !important;
  border-radius: 0% !important;
}