
.signin-form{
  width: 50%;
  height: 70%;
  margin: auto;
  padding: 10px;
  background: transparent;
  color: #F1F1F2;
  border-radius: 4%;
}
.sign-up {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  color: rgb(244,140,180);
  font-weight: 900;
}